/.vs
/Debug
/GeneratedFiles
/FlashNote/Debug
/FlashNote/x64/Debug/FlashNote.log
/FlashNote/x64/Debug/FlashNote.tlog/CL.command.1.tlog
/FlashNote/x64/Debug/FlashNote.tlog/FlashNote.lastbuildstate
/FlashNote/x64/Debug/FlashNote.tlog/unsuccessfulbuild
/FlashNote/x64/Debug/vc142.idb
/FlashNote/x64/Debug/vc142.pdb
/notecore/Debug
