/.vs
/Debug
/Release
/GeneratedFiles
/FlashNote/Debug
/FlashNote/x64/Debug/FlashNote.log
/FlashNote/x64/Debug/FlashNote.tlog/CL.command.1.tlog
/FlashNote/x64/Debug/FlashNote.tlog/FlashNote.lastbuildstate
/FlashNote/x64/Debug/FlashNote.tlog/unsuccessfulbuild
/FlashNote/x64/Debug/vc142.idb
/FlashNote/x64/Debug/vc142.pdb
/notecore/Debug
/Code/mongo-cxx-driver-master
/Code/3rdparty/boost_1_55_0/libs
/Code/3rdparty/boost_1_55_0/doc
/Code/3rdparty/boost_1_55_0/tools
/Code/3rdparty/boost_1_55_0/bin.v2
/Code/3rdparty/boost_1_55_0/more
/Code/3rdparty/boost_1_55_0/status
/Code/3rdparty/boost_1_55_0/INSTALL
/Code/3rdparty/boost_1_55_0/Jamroot
/Code/3rdparty/boost_1_55_0/LICENSE_1_0.txt
/Code/3rdparty/boost_1_55_0/b2.exe
/Code/3rdparty/boost_1_55_0/bjam.exe
/Code/3rdparty/boost_1_55_0/boost-build.jam
/Code/3rdparty/boost_1_55_0/boost.css
/Code/3rdparty/boost_1_55_0/boost.png
/Code/3rdparty/boost_1_55_0/boostcpp.jam
/Code/3rdparty/boost_1_55_0/bootstrap.bat
/Code/3rdparty/boost_1_55_0/bootstrap.log
/Code/3rdparty/boost_1_55_0/bootstrap.sh
/Code/3rdparty/boost_1_55_0/index.htm
/Code/3rdparty/boost_1_55_0/index.html
/Code/3rdparty/boost_1_55_0/project-config.jam
/Code/3rdparty/sqlite/sqlite-tools-win32-x86-3360000.zip
/Code/guimain/res/icons/32x32/Thumbs.db
/Code/guimain/res/icons/Thumbs.db
/Code/*.patch
/*.patch
